<h2>Crear Nuevo Producto</h2>
<form (ngSubmit)="createProduct()">
  <label>
    Título:
    <input [(ngModel)]="product.title" name="title" required>
  </label>
  <label>
    Precio:
    <input type="number" [(ngModel)]="product.price" name="price" required>
  </label>
  <label>
    Descripción:
    <textarea [(ngModel)]="product.description" name="description"></textarea>
  </label>
  <label>
    URL de Imágen:
    <input [(ngModel)]="product.image" name="image">
  </label>
  <label>
    Categoría:
    <input [(ngModel)]="product.category" name="category">
  </label>
  <br><br>
  <button type="submit">Crear</button>
</form>
<br><br>
<a routerLink="/products">Volver a Productos</a>
